a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

.header {
  background-color: #1f2937;
  display: flex;
}

.logo {
  font-size: 24px;
  font-family: Hero, Helvetica, sans-serif;
  font: 900;
  color: #f9faf8;
}

.link {
  font-size: 18px;
  font-family: Hero, Helvetica, sans-serif;
  color: #e5e7eb;
  margin-left: 15px;
  padding-right: 5px;
  text-decoration: none;
}

.push
{
  font-size: 18px;
  font-family: Hero, Helvetica, sans-serif;
  color: #e5e7eb;
  margin-left: auto;
  padding-right: 5px;
  text-decoration: none;
}

.container1 {
  background-color: #1f2937;
  display: flex;
}

.container2 {
  background-color: #1f2937;
  display: flex;
}

.container4 {
  background-color: #1f2937;
  display: flex;
}

.main-text1 {
  font-size: 48px;
  font-family: Hero, Helvetica, sans-serif;
  font-weight: 900;
  color: #e5e7eb;
}

.secondary-text1{
  font-size: 18px;
  font-family: Hero, Helvetica, sans-serif;
  color: #e5e7eb;
}

.button {
  background-color: #3882f6;
  font-size: 18px;
  font-family: Hero, Helvetica, sans-serif;
  color: #e5e7eb;
}